[Desktop Entry]
Name=Kolorfill
Name[ar]=تعبئة الألوان
Name[ca]=Kolorfill
Name[ca@valencia]=Kolorfill
Name[cs]=Kolorfill
Name[de]=Kolorfill
Name[el]=Kolorfill
Name[en_GB]=Kolorfill
Name[eo]=Kolorfill
Name[es]=Kolorfill
Name[eu]=Kolorfill
Name[fi]=Kolorfill
Name[fr]=Kolorfill
Name[gl]=Kolorfill
Name[hi]=कलरफ़िल
Name[it]=Kolorfill
Name[ka]=Kolorfill
Name[ko]=Kolorfill
Name[nl]=Kolorfill
Name[nn]=Kolorfill
Name[pl]=Kolorfill
Name[pt]=Kolorfill
Name[pt_BR]=Kolorfill
Name[ro]=Kolorfill
Name[sk]=Kolorfill
Name[sl]=Kolorfill
Name[sv]=Kolorfill
Name[tr]=Kolorfill
Name[uk]=Kolorfill
Name[x-test]=xxKolorfillxx
Name[zh_CN]=Kolorfill
Name[zh_TW]=Kolorfill
GenericName=Color filling game
GenericName[ar]=لعبة تعبئة الألوان
GenericName[ca]=Joc d'emplenament de color
GenericName[ca@valencia]=Joc d'emplenament de color
GenericName[de]=Farbfüllspiel
GenericName[el]=Παιχνίδι χρωματισμού
GenericName[en_GB]=Colour filling game
GenericName[eo]=Kolorpleniga ludo
GenericName[es]=Juego de relleno de color
GenericName[eu]=Kolorea betetzeko jokoa
GenericName[fi]=Väritäyttöpeli
GenericName[fr]=Jeu de remplissage avec des couleurs
GenericName[gl]=Xogo de colorar
GenericName[hi]=रंग भरने का खेल
GenericName[it]=Gioco di riempimento dei colori
GenericName[ka]=ფერის შევსების თამაში
GenericName[ko]=색 채우기 게임
GenericName[nl]=Spel met kleuren vullen
GenericName[nn]=Fargeleggingsspel
GenericName[pl]=Gra w wypełnianie barwami
GenericName[pt]=Jogo de preenchimento de cores
GenericName[pt_BR]=Jogo de preenchimento de cores
GenericName[ro]=Joc de umplere cu culori
GenericName[sk]=Hra na vyplňanie farieb
GenericName[sl]=Igra zapolnjevanja barv
GenericName[sv]=Färgläggningsspel
GenericName[tr]=Renk Doldurma Oyunu
GenericName[uk]=Гра у заповнення кольором
GenericName[x-test]=xxColor filling gamexx
GenericName[zh_CN]=填色游戏
GenericName[zh_TW]=填色遊戲
Comment=Color filling game
Comment[ar]=لعبة تعبئة الألوان
Comment[ca]=Joc d'emplenament de color
Comment[ca@valencia]=Joc d'emplenament de color
Comment[de]=Farbfüllspiel
Comment[el]=Παιχνίδι χρωματισμού
Comment[en_GB]=Colour filling game
Comment[eo]=Kolorpleniga ludo
Comment[es]=Juego de relleno de color
Comment[eu]=Kolorea betetzeko jokoa
Comment[fi]=Väritäyttöpeli
Comment[fr]=Jeu de remplissage avec des couleurs
Comment[gl]=Xogo de colorar
Comment[hi]=रंग भरने का खेल
Comment[it]=Gioco di riempimento dei colori
Comment[ka]=ფერის შევსების თამაში
Comment[ko]=색 채우기 게임
Comment[nl]=Spel met kleuren vullen
Comment[nn]=Fargeleggingsspel
Comment[pl]=Gra w wypełnianie barwami
Comment[pt]=Jogo de preenchimento de cores
Comment[pt_BR]=Jogo de preenchimento de cores
Comment[ro]=Joc de umplere cu culori
Comment[sk]=Hra na vyplňanie farieb
Comment[sl]=Igra zapolnjevanja barv
Comment[sv]=Färgläggningsspel
Comment[tr]=Renk doldurma oyunu
Comment[uk]=Гра у заповнення кольором
Comment[x-test]=xxColor filling gamexx
Comment[zh_CN]=填色游戏
Comment[zh_TW]=填色遊戲
Exec=kolorfill
Icon=color-fill
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;
