[Desktop Entry]
Name=Kolorfill
Name[ca]=Kolorfill
Name[ca@valencia]=Kolorfill
Name[cs]=Kolorfill
Name[el]=Kolorfill
Name[es]=Kolorfill
Name[fr]=Kolorfill
Name[it]=Kolorfill
Name[ko]=Kolorfill
Name[nl]=Kolorfill
Name[nn]=Kolorfill
Name[pt]=Kolorfill
Name[pt_BR]=Kolorfill
Name[ro]=Kolorfill
Name[sk]=Kolorfill
Name[sl]=Kolorfill
Name[sv]=Kolorfill
Name[uk]=Kolorfill
Name[x-test]=xxKolorfillxx
GenericName=Color filling game
GenericName[ca]=Joc d'emplenat de color
GenericName[ca@valencia]=Joc d'emplenat de color
GenericName[el]=Παιχνίδι χρωματισμού
GenericName[es]=Juego de relleno de color
GenericName[fr]=Jeu de remplissage avec des couleurs
GenericName[it]=Gioco di riempimento dei colori
GenericName[ko]=색 채우기 게임
GenericName[nl]=Spel met kleuren vullen
GenericName[nn]=Fargeleggingsspel
GenericName[pt]=Jogo de preenchimento de cores
GenericName[pt_BR]=Jogo de preenchimento de cores
GenericName[ro]=Joc de umplere cu culori
GenericName[sk]=Hra na vyplňanie farieb
GenericName[sl]=Igra zapolnjevanja barv
GenericName[sv]=Färgläggningsspel
GenericName[uk]=Гра у заповнення кольором
GenericName[x-test]=xxColor filling gamexx
Comment=Color filling game
Comment[ca]=Joc d'emplenat de color
Comment[ca@valencia]=Joc d'emplenat de color
Comment[el]=Παιχνίδι χρωματισμού
Comment[es]=Juego de relleno de color
Comment[fr]=Jeu de remplissage avec des couleurs
Comment[it]=Gioco di riempimento dei colori
Comment[ko]=색 채우기 게임
Comment[nl]=Spel met kleuren vullen
Comment[nn]=Fargeleggingsspel
Comment[pt]=Jogo de preenchimento de cores
Comment[pt_BR]=Jogo de preenchimento de cores
Comment[ro]=Joc de umplere cu culori
Comment[sk]=Hra na vyplňanie farieb
Comment[sl]=Igra zapolnjevanja barv
Comment[sv]=Färgläggningsspel
Comment[uk]=Гра у заповнення кольором
Comment[x-test]=xxColor filling gamexx
Exec=kolorfill
Icon=color-fill
Terminal=false
Type=Application
StartupNotify=false
Categories=Games;
